@using ServiceLayer.BrandService.BrandDto
@model BrandListDto

<div class="col-xl-4">
    <div class="card my-5">
        <img class="card-img-top p-5" src="~/Images/BrandImages/@Model.LogoName">
        <div class="card-body">
            <h2 class="card-title font-weight-bolder">@Model.Name</h2>
            <hr />
        </div>
    </div>
</div>