@page
@model WebUI.Pages.EShops.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<div class="text-center bg-farve-sort mb-2">
    <h1 class="display-4">Your shopping cart.</h1>
</div>
<br />
<hr />

